<h1>Contact Us</h1>

<div class="contact-form">
            <form id="contact-form" method="post" action="#">
                <input name="name" type="text" class="form-control" placeholder="Your Name" required>
                <br>
                <input  name="name" type="text" class="form-control" placeholder="Your Email" required><br>
                    <textarea name="message" class="form-control" placeholder="Message" row="4" required></textarea><br>
                    <input type="sumbit" class="form-control submit" value="SEND MESSAGE">
            </form>
        </div>